/* Profile */
.profile {
    img {
      width: 80%;
      height: 80%;

    }
}

.left {
    float: left;
}

.right {
    float: right;
}

// adjust tile sizes on smaller screens
@include media-query($on-phone) {
  @media screen and (max-width: $on-phone){

    .profile {
      width: 30%;
      img{
      transform: translate(-10px,50px);
      }
    }

  }
}
